extends ./layout/template

block item
	h1 Hi, Ansama
	h5 How are the today?
	input(type="text" placeholder="Tell me your feel..")
	div(style="padding-left:720px; padding-top:250px")
		
		button 
			a(href="/login" style="text-decoration:none") 
				b Login
		p

		button
			a(href="/users" style="text-decoration:none") 
				b Users List
