extends ./layout/template

block item
	div(class="col-sm-12 p-5 d-flex flex-wrap")
		.col-sm-3.p-5
			.card(style='width: 18rem;')
				img(src="https://picsum.photos/id/1/200/300")
				.card-body
					h5.card-title Pets
				p.card-text.p-2 Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
				a.btn.btn-warning(href='#') Go somewhere
		.col-sm-3.p-5
			.card(style='width: 18rem;')
				img(src="https://picsum.photos/200/300")
				.card-body
					h5.card-title Technology
				p.card-text.p-2 Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
				a.btn.btn-warning(href='#') Go somewhere
		.col-sm-3.p-5
			.card(style='width: 18rem;')
				img(src="https://picsum.photos/seed/picsum/200/300")
				.card-body
					h5.card-title Static Random Image
				p.card-text.p-2 Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
				a.btn.btn-warning(href='#') Go somewhere
		.col-sm-3.p-5
			.card(style='width: 18rem;')
				img(src="https://picsum.photos/200/300?grayscale")
				.card-body
					h5.card-title Grayscale
				p.card-text.p-2 Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
				a.btn.btn-warning(href='#') Go somewhere