extends ./layout/template

block item
	div(class="container-fluid")
		div(class="row")
			div(class="menu")
				a(href="/")
					img(src="/images/metro.png" width="70px" height="70px")
				ul(class="nav")
					li(class="nav-item") 
						a(class="nav-link", href="/") Home
					li(class="nav-item") 
						a(class="nav-link", href="/users") Users
					li(class="nav-item") 
						a(class="nav-link", href="/login") Contact
					li(class="nav-item") 
						a(class="nav-link", href="/login") About us
					li(class="nav-item") 
						a(class="nav-link", href="/login") Login
					li(class="nav-item dropdown") 
						a(class="nav-link dropdown-toggle dropdown", href="") Version
						ul(class="sub-menu")
							li
								a(href="") 1.0
							li
								a(href="") 2.0
							li
								a(href="") 3.0