body(style="font-family:sans-serif")
	h1 Create New Account
	form(action="/login/signup" method="post")
		label Your Name
		br
		input(type="text" name="name")
		br
		label Your Username
		br
		input(type="text" name="username")
		br
		label Your Password
		br
		input(type="password" name="password")
		p
		input(type="submit" value="Create")
		
