extends ../layout/template

block item
	div(class="container-fluid")
		div(class="row")
			div(class="menu")
				a(href="/", class="col-sm-1")
					img(src="/images/metro.png" width="70px" height="70px")
				ul(class="nav col-sm-9")
					li(class="nav-item") 
						a(class="nav-link", href="/") Home
					li(class="nav-item") 
						a(class="nav-link", href="/users") Users
					li(class="nav-item") 
						a(class="nav-link", href="/contact") Contact
					li(class="nav-item") 
						a(class="nav-link", href="/login") About us
					li(class="nav-item") 
						a(class="nav-link", href="/login") Login
				button(class="btn btn-outline-warning btn-download col-sm-1") Download
block content
		div(class="row p-5 col-sm-12")
			div.col-sm-2
			div.col-sm-8
				h2 Create Account
				if errors
					each err in errors
						.alert.alert-danger= err
				form(method="post" action="/login/signup")
					.form-group
						label Name
						input#exampleInputEmail1.form-control(type='text', name="name", value= values ? values.name : "")
					.form-group
						label Username
						input#exampleInputPassword1.form-control(type='text', name='username', value= values ? values.age : "")
					.form-group
						label Password
						input#exampleInputPassword1.form-control(type='password', name='password', value= values ? values.phone : "")
					br
					button.btn.btn-primary(type='submit') Create

		
