extends ../layout/template

block item
	div(class="row")
	dic(class="row")
		span &nbsp
	div(class="row col-sm-12")
		.col-sm-4
		.col-sm-4.p-5(style="border: solid 1px #6f42c1")
			h2 Login Account
			if err
				.alert.alert-danger= err
			form(method="post" action="/login/signin")
					.form-group
						label Username
						input#exampleInputEmail1.form-control(type='text', name="username", value= values ? values.username : "")
					.form-group
						label Password
						input#exampleInputPassword1.form-control(type='password', name="password", value= values ? values.pass : "")
					br
					button.btn.btn-primary(type='submit') Login
			a(href="/login/signup") Create Acccount
			
	