h1 Create User
form(action="create" method="post")
	label Name
	label &nbsp
	input(type="text", name="name")
	br
	br
	label Age
	label &nbsp
	input(type="number", name="age")
	br
	br
	label Gender
	label &nbsp
	select(name="gender")
		option(value="male") Male
		option(value="female") Female
	br
	br
	button Create