extends ../layout/template

block item
	div(class="row p-5 col-sm-12")
		div.col-sm-2
		div.col-sm-8
			h2 Create User
			if errors
				each err in errors
					.alert.alert-danger= err
			form(method="post" action="/users/create")
				.form-group
					label User Name
					input#exampleInputEmail1.form-control(type='text', name="name", value= values ? values.name : "")
				.form-group
					label User Age
					input#exampleInputPassword1.form-control(type='number', name='age', value= values ? values.age : "")
				.form-group
					label User Phone
					input#exampleInputPassword1.form-control(type='number', name='phone', value= values ? values.phone : "")
				.form-check
					input.form-check-input(type='radio', name='gender', value='male', checked)
					label Male
				.form-check
					input.form-check-input(type='radio', name='gender', value='female')
					label Female
				br
				button.btn.btn-primary(type='submit') Create
