extends ../layout/template

block item
	div(class="row p-5 col-sm-12")
		div.col-sm-3
		div.col-sm-6
			h2 User Information
			.form-group
				label User Name
				input#exampleInputEmail1.form-control(type='text', name="name", value= user.name)
			.form-group
				label User Age
				input#exampleInputPassword1.form-control(type='number', name='age', value= user.age)
			.form-group
				label User Phone
				input#exampleInputPassword1.form-control(type='number', name='phone', value= user.phone)